<div class="app-container">
<div class="container">
  <div class="form-container">
    <div class="image-container">
      <img src="https://png.pngtree.com/png-clipart/20230913/original/pngtree-wellness-clipart-woman-in-green-doodles-cartoon-vector-png-image_11074807.png" alt="Bien-être" />
    </div>

    <div class="login-form">
      <h2>Connexion</h2>
      <form (ngSubmit)="onLogin()">
        <label for="email">Email :</label>
        <input
          id="email"
          type="email"
          [(ngModel)]="email"
          name="email"
          required
          placeholder="Entrez votre email"
        />

        <label for="password">Mot de passe :</label>
        <input
          id="password"
          type="password"
          [(ngModel)]="password"
          name="password"
          required
          placeholder="Entrez votre mot de passe"
        />

        <button type="submit">Se connecter</button>
      </form>

      <div class="register-link">
        <p>Vous n'avez pas de compte ? 
          <a routerLink="/register">Créer un compte</a>
        </p>
      </div>
    </div>
  </div>
</div>
</div>